<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://runtimetriggerexchangeratesapi20210609153857.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fc4cff08-afa0-419e-9f18-19a3f6b41362/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/RunTimeTriggerExchangeRatesAPI20210609153857</ResourceId>
    <UserName>$RunTimeTriggerExchangeRatesAPI20210609153857</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://runtimetriggerexchangeratesapi20210609153857.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>